@mixin card_sizing {
    margin: 0rem 1.5625rem;
    width: 18.75rem;
    height: 28.125rem;
    position: relative;
    border: .0625rem solid rgba(black, 0.2);
    box-shadow: 0rem .25rem .25rem rgba(black , 0.2);
    border-radius: 3%;
}



@mixin card_images($n,$h) {
    background-image: url($n);
    background-color: green; /*green color incase image fails */
    height: $h;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}